h1 {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  font-family: "Oswald", serif;
}

.desc {
  font-family: "Outfit", serif;
  margin-top: 30px;
  margin-bottom: 15px;
  text-align: center;
}

form {
  margin: 20px;
}

main {
  font-family: "Outfit", serif;
  background-color: #00072e;
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin: auto;
  margin-top: 0%;
  width: 600px;
}

.form-personal {
  display: grid;
  margin: 10px;
  padding: 5px;
}

input {
  height: 23px;
  margin-top: 10px;
  background-color: white;
  border: black solid;
  border-radius: 4px;
}

select {
  height: 30px;
  width: 525px;
  margin-left: 18px;
  border-radius: 4px;
}

P {
  margin-left: 18px;
}

.form-group {
  margin-left: 18px;
}

label {
  display: block;
}

textarea {
  height: 50px;
  max-height: 100px;
  width: 525px;
  max-width: 525px;
  min-height: 50px;
  min-width: 525px;
}

.submit-button {
  height: 30px;
  width: 525px;
  margin-top: 40px;
  background-color: #66eb0e;
}
